* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Top Navigation bar*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .navigation ul li {
        list-style: none;
        margin-left: 30px;
    }

        .navigation ul li a {
            text-decoration: none;
            color: #000;
            font-size: 1rem;
            font-weight: 500;
            transition: 0.3s ease;
        }

            .navigation ul li a:hover {
                color: #FDC93B;
            }

/* Footer */
.footer {
    padding: 2vw;
    background-color: #101C32;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    text-align: center;
}
